body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #f7f7f7;
  color: #333;
}
header{
    display:flex;
    align-items: center;
    justify-content: space-between;
}
header, footer {
  background: #111;
  color: #fff;
  padding: 15px;
}

nav a {
  color: #fff;
  margin-right: 15px;
  text-decoration: none;
}

.container {
  max-width: 900px;
  margin: 30px auto;
  padding: 20px;
  background: #fff;
}

textarea {
  width: 100%;
  height: 200px;
  padding: 10px;
  font-family: monospace;
}

.buttons {
  margin: 10px 0;
}

button {
  padding: 8px 14px;
  margin-right: 10px;
  cursor: pointer;
}

pre {
  background: #f0f0f0;
  padding: 15px;
  overflow-x: auto;
}

pre.error {
  color: red;
  font-weight: bold;
}
